#
# Default Configuration File for Rate Monitor
#

ReferenceRun=0 #Setting to 0 will cancel the option of comparing to a reference run    
CompareReference=0 ## Compare with reference run even without a big difference with expectations
DefaultAllowedRateDiff=50 ## Allowed % rate diff between head and reference run
DefaultIgnoreThreshold=0.1  ## Ignore triggers with rate lower than this
ExcludeTriggerList=excludelist.list  ## List of trigger to ignore
##TriggerToMonitorList=monitorlist_Nov_2011.list  ## List of triggers to monitor and their target lumi
TriggerToMonitorList=monitorlist_Apr_Core_2012.list 
L1CrossSection=run180250_L1Fits ## cross-section fits for L1 columns
MonitorOnlyListed=1  ## Monitor Only the triggers in the MonitorList
MonitorTargetLumi=1000   ## in units of 1e30
FindL1Zeros=1
LSSlidingWindow=10 ## consider only the last x LS of the run (set to -1 to consider all LS)
MaxExpressRate=35 ## Maximum rate in the express stream before throwing a warning
ShifterMode=1 #setting to 1 will enter shifter mode and will continue to parse in 10 LS sections
MaxStreamARate=1600 ## for cosmics limit to 300 Hz
FitFileName=Fits/2012/Fit_HLT_10LS_Run190456to190492.pkl
